.App {
	text-align: center;
	border: black solid 1px;
	width: 1000px;
	height: 800px;
	margin: auto;
	display: flex;
}
.homepage {
	width: 500px;
	border: orange solid 1px;
	height: 800px;
}
.employeePage {
	width: 500px;
	border: brown solid 1px;
	height: 800px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
